<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Test Suite" parallel="none">

   <test name="Framework Test Suite">
   	<parameter name="browser" value="Chrome" ></parameter>
      <classes>
      
      	 <class name="com.common.BaseTest"></class>
      	<class name="com.way2AutomationComponents.AutoComplete"/>
       	 <class name="com.way2AutomationComponents.DatePicker"/>
         <class name="com.way2AutomationComponents.DragAndDropControls"/>
       </classes>
   </test>
</suite>
