<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Test Suite: CIL Test Suite" parallel="none">

	<test name="CIL Test Cases">
		<parameter name="browser" value="Firefox"></parameter>
		<classes>
			<class name="com.cil.ui.CILTestSuite"/>
			</classes>
	</test>
	
	<!-- <test name="CIL Test Cases2">
		<parameter name="browser" value="Firefox"></parameter>
		<classes>
			<class name="com.cil.ui.CILTestSuite2"/>
		</classes>
	</test> -->
</suite>
